html {
    font-family: "Sarabun", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    display: flex;
    flex-direction: row;
}
.animal-card {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
}

.animal-card > img {
    border-radius: 8px;
    width: 300px;
    height: auto;
}

@media screen and (max-width: 700px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 400px) {
    .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
