html {
    font-family: "Anuphan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
  }
#container {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: auto;
    padding: 5px;
}

#switch-button {
  margin-top: 30px;
  font-family: "Anuphan", sans-serif;
  width: 50%;
  font-size: 18px;
}
