p {
    font-family: "Anuphan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    margin: 5px;
}

.display {
    display: flex;
    flex-direction: row;
    background-color: white;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.box {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 25%;
    height: 25%;
    padding: 20px;
    margin: 5px;
    border-radius: 5px;

}

.box p {
    color: white;
    max-width: fit-content;
}



