p, th, td {
    font-family: "Anuphan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    margin: 5px;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vb;
}
.calendar {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-self: center;
}

table {
    padding: 5px;
}
th {
    font-weight: bold;
}

td {
    border: 1px solid;
}

th, td {
    padding: 10px;
    text-align: center;
    font-size: 26px;
    width: 75px;
}

td.no {
    background-color: lightgray;
    color: red;
    border-color: black;
}