body {
    font-family: "Anuphan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

table {
    border-collapse: collapse;
    text-align: left;
}
td, th{
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}