<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&family=Noto+Sans+Thai:wght@100..900&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/index.css">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center; color: rgb(0, 132, 255)">My Products</h1>
    <div class="container">
        <% data.forEach((i) => { %>
            <div class="card">
                <img src="<%= i.image_url %>">
                <div class="content">
                <h3 style="color: rgb(0, 132, 255)"><%= i.name %></h3>
                <p><%= i.description %></p>
            </div>
            <div class="link">
            <a href="/detail/<%= i.product_id %>">
                <button>Detail</button>
            </a>
        </div>
            </div>
       <% }) %>
    </div>
</body>
</html>