html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Anuphan", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    max-height: fit-content;
    border: 1px solid black;
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
}


form input {
    width: 300px;
    margin-bottom: 20px;
    height: 30px;
    border: 1px solid gray;
    border-radius:2px;
    margin-left: 10px;
    margin-right: 10px;
}

.header {
    margin: 10px;
}


.submit {
    background-color: rgb(0, 145, 255);
    color: white;
    border-radius: 5px;
    width: auto;
    height: 40px;
    font-size: 16px;
    border: solid 1px rgb(0, 145, 255);
}