<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&family=Noto+Sans+Thai:wght@100..900&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/index.css">
    <title>Document</title>
</head>
<body>
    <h1>Create a New ToDo</h1>
    <form action="/to-do/add" method="POST">
        <label for="title">Title:</label>
        <input type="text" name="title" placeholder="Enter title">
        <label for="description">Description:</label>
        <input type="text" name="description" placeholder="Enter description">
        <label for="deadline">Deadline:</label>
        <input type="date" name="deadline">
        <input type="submit" value="Add Todo">
    </form>
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Deadline</th>
            <th>Completed</th>
        </tr>
        <% data.forEach((i) => { %>
            <tr>
                <td><%= i.ID %></td>
                <td><%= i.Title %></td>
                <td><%= i.Deadline %></td>
                <td>
                    <input 
                        type="checkbox"
                        <% if (i.Status == 1) { %> checked disabled <% } %>
                        onchange="updateStatus(<%= i.ID %>)"
                    >
                </td>
            </tr>
           <% }) %>
    </table>
</body>
<script>
    async function updateStatus(id) {
        await fetch(`http://localhost:3000/to-do/status/${id}`, {
            method: 'POST',
        }) 
        location.reload()
    }
</script>
</html>