html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Anuphan", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h1 {
    text-align: center;
}


table, th, td {
    border: 1px solid black;
    padding: 10px;
    width: 500px;
}
table {
    border-collapse: collapse;
}

#btn {
    margin-top: 20px;
    font-family: "Anuphan", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: rgb(0, 145, 255);
    color: white;
    border-radius: 5px;
    width: auto;
    height: 40px;
    font-size: 16px;
    border: solid 1px rgb(0, 145, 255);
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}



