html {
    font-family: "Anuphan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 22px;
  }

input {
    border: 1px solid black;
    border-radius: 5px;
    height: 30px;
    width: auto;
    font-family: "Anuphan", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
}


select {
    border: 1px solid black;
    border-radius: 5px;
    height: 30px;
    width: auto;
    font-family: "Anuphan", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
}

#add {
    font-family: "Anuphan", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    background-color: rgb(0, 190, 51);
    color: white;
    border-radius: 5px;
    width: auto;
    height: 30px;
    font-size: 16px;
    border: solid 1px rgb(0, 190, 51);
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
    margin-top: 10px;
    color: black;
    font-size: 18px;
}

th, td {
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    
}

th {
    background-color: rgb(14, 179, 124);
    color: white;
}