* {
  font-family: "Anuphan", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    width: 300px;
    height: 250px;
    padding: 5px;
    box-shadow: 5px 5px 2px #ccc;
    overflow: hidden;
}

#card > img {
    height: 90%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#card > #card-content {
    margin: 5px;
    align-items: center;
    text-align: center;
}

#container {
    display: grid;
    flex-direction: row;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

a {
    color: black;
    text-decoration-line: none;
    width: fit-content
}

#food-img > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    
}

#food-img {
    border: 1px solid #ddd;
    padding: 5px;
    width: 400px;
    height: 300px;
    overflow: hidden;
    box-shadow: 5px 5px 2px #ccc;

}

#food-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 50px;
}